
h1 {
	font-weight: bolder;
}

.page-header {
	margin-bottom:0;
	border-bottom: 0px;
	
}

.row {
	margin: 0 15px 0 15px;
}
#nav-list a {
  text-align: center;
  border: 1px solid gray;
}

#nav-list {
  background: #E7E7E7;


}
#nav-list a:hover {
  background: #EEE;  
}
#chicken {
	background: gray;
	width: 100%;
	margin: 0 auto 0 auto;
}

#chicken h2 {
	text-align: center;
	font-size: 1.5em;
	font-style: bold;
}